@{
    ViewBag.Title = "Home Page";
}

    <div  class="row">
        <div class="col-md-4">
            
        </div>
        <div class="col-md-4">
            Input here
        </div>
        <div class="col-md-4">
            Input here
        </div>
    </div>

<div style="margin-top: 50px" class="row">
    <div class="col-md-4 col-sm-4 col-xs-4">
        <h3  style="text-align: center">Event Name</h3>
       <div class="panel-body">
          <div style="text-align: center" class="card-image">
              <img height="160px" alt="Event Image" src="https://i.picsum.photos/id/1035/200/300.jpg?grayscale&hmac=84bri__z6xXAr-EC4esVWh_S8AVUeWwqGOKrpguxzAo" />
          </div>
       </div>
        <div class="panel-footer">
            <a href="#"> <i class="glyphicon glyphicon-share " data-toggle="tooltip" placement="left" title="Share"></i></a>
        </div>
    </div>

 
</div>